
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
<body>
  <app-sidebar></app-sidebar><div class="container">
  <!-- Resto del contenido de tu aplicación -->
  
  <div class="form-section">
    <h3>Agregar Nuevo Conductor</h3>
    <form >
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" required>
  
      <label for="apellido">Apellido:</label>
      <input type="text" id="apellido" name="apellido" required>
  
      <label for="licencia">Licencia:</label>
      <input type="text" id="licencia" name="licencia" required>
  
      <label for="fechaVencimientoLicencia">Fecha de vencimiento de la licencia:</label>
      <input type="date" id="fechaVencimientoLicencia"  name="fechaVencimientoLicencia" required>
  
      <label for="tipoLicencia">Tipo de licencia:</label>
      <select id="tipoLicencia" name="tipoLicencia" required>
        <option value="A">A - Motocicletas y vehículos de tres ruedas</option>
        <option value="B">B - Vehículos de hasta 4 toneladas de peso bruto</option>
        <option value="C">C - Vehículos de más de 4 toneladas de peso bruto</option>
        <option value="D">D - Vehículos de transporte público (taxis, buses, etc.)</option>
        <option value="E">E - Vehículos de carga pesada (camiones, tractocamiones, etc.)</option>
      </select>
  
      <div class="buttons">
        <button type="button" class="cancel-button">Cancelar</button>
        <button type="submit" class="submit-button">Enviar</button>
      </div>
    </form>
  </div>
  
  <div class="list-section">
    <h3>Lista de Conductores:</h3>
    <ul>
      <li *ngFor="let driver of drivers">
        <span>{{ driver.nombre }} {{ driver.apellido }}, Licencia: {{ driver.licencia }}, Vencimiento: {{ driver.fechaVencimientoLicencia | date }}, Tipo: {{ driver.tipoLicencia }}</span>
        <button class="edit-button" >Editar</button>
      </li>
    </ul>
  </div>
</div>
</body>