
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" >
			<div class="login">
				<form [formGroup]="loginForm">
					<label for="chk" >Login</label>
                    <input formControlName="username" type="email" id="exampleInputEmail1" placeholder="Email" aria-describedby="emailHelp"> 
                <div *ngIf="email.invalid && (email.dirty || email.touched)"
                    class="text-danger">
                    <div *ngIf="email.errors?.['required']">
                        El Email es requerido.
                    </div>
                    <div *ngIf="email.errors?.['email']">
                        El Email debe tener un formato válido.
                    </div>
                </div> 
                    <input formControlName="password" type="password" id="exampleInputPassword1" placeholder="Contraseña">
                    <div *ngIf="password.invalid && (password.dirty || password.touched)"
                        class="text-danger">
                        <div *ngIf="password.errors?.['required']">
                            La Contraseña es requerida.
                        </div>
                    </div> 
					<button type="submit" (click)="login()">Login</button>

				</form>
			</div>
	</div>
</body>
